@import url('./variables.css');
@import url('./normalise.css');

body {
  background-color: var(--bg-color, black);
  color: var(--txt-color-main, white);
}

/* @import "tailwindcss";
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

 */
